# Frontend Environment Variables

NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_SUPABASE_URL=https://cmdyayoysjycqaxxonhy.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNtZHlheW95c2p5Y3FheHhvbmh5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk2NzkwNzYsImV4cCI6MjA4NTI1NTA3Nn0.y4N0XR3YM9MkW4DLcPDkVwe3u4fki_179T3bl7YR7Jg
